-i https://pypi.org/simple
customtkinter==5.2.2; python_version >= '3.7'
darkdetect==0.8.0; python_version >= '3.6'
packaging==24.0; python_version >= '3.7'
pygame==2.5.2; python_version >= '3.6'
pyside6==6.7.0; python_version < '3.13' and python_version >= '3.9'
pyside6-addons==6.7.0; python_version < '3.13' and python_version >= '3.9'
pyside6-essentials==6.7.0; python_version < '3.13' and python_version >= '3.9'
shiboken6==6.7.0; python_version < '3.13' and python_version >= '3.9'
